.dark .shine {
  border-radius: 2%;
  background: #070707;
  background-image: linear-gradient(
    to right,
    #070707 0%,
    #171717 20%,
    #171717 40%,
    #070707 100%
  );
  background-repeat: no-repeat;
  background-size: 100% 320px;
  display: inline-block;
  position: relative;

  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeholderShimmer;
  animation-timing-function: l;
}

.shine {
  border-radius: 2%;
  background: #ffffff;
  background-image: linear-gradient(
    to right,
    #ffffff 0%,
    #fff4ee 20%,
    #fff4ee 40%,
    #ffffff 100%
  );
  background-repeat: no-repeat;
  background-size: 100% 320px;
  display: inline-block;
  position: relative;

  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeholderShimmer;
  animation-timing-function: l;
}

@keyframes placeholderShimmer {
  0% {
    background-position: -468px 0;
  }

  100% {
    background-position: 468px 0;
  }
}
